<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1">

        <!--    <test name="TestLoginAndLogout" ><classes><class name="TestLoginAndLogout" /></classes></test>-->
        <!--    test our website-->
        <test name="TryToFindElements" ><classes><class name="TryToFindElements" /></classes></test>

        <!--    <test name="MainPageSearchField" ><classes><class name="MainPageSearchField" /></classes></test>-->
    <test name="4"><classes>
        <class name="GithubTestAndPreprodEnvironments"/></classes></test>


</suite>
